.darkmode code {
	background-color: #2F3136;
}

code {
	font-family: "SFMono-Regular",Menlo,Consolas,Monospace;
	font-weight: 400;
	background-color: #F2F3F5;
	border: 1px solid #202225;
}

.darkmode div.highlighter-rouge {
	background-color: #2F3136
}

div.highlighter-rouge {
	padding: 0.75rem;
	margin-top: 0;
	margin-bottom: 0.75rem;
	overflow-x: auto;
	background-color: #F2F3F5;
	border-radius: 4px;
	box-shadow: none;
	-webkit-overflow-scrolling: touch;
	width: 60vw;
	margin: auto;

	div.highlight,
	pre.highlight,
	code {
		padding: 0;
		margin: 0;
		border: 0;
	}
}

.darkmode .highlight {
	.p, .err {
		color: #4F545C
	}
}

.highlight {
	.nl {
		color: #B58900;
	} // name.label // Keys //
	.s2 {
		color: #2AA198;
	} // literal.string.double // String Values //
	.mi {
		color: #2AA198;
	} // literal.number.integer // Integer Values //
	.mf {
		color: #2AA198;
	} // literal.number.float // Float Values //
	.kc {
		color: #2AA198;
	} // keyword.constant // Boolean Values //
	.p {
		color: #C7CCD1;
	} // punctuation //
	.err {
		color: #C7CCD1;
	} // error //
}