/* Dark Mode */
.darkmode {
	background-color: #36393F;
	color: #DCDDDE;
}
.darkmode a {
	color: #00B0F4;
}

/* Default/Light Mode */
body {
	background-color: #FFFFFF;
	color: #2E3338;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #0067E0;
}

/* Not Mode Dependent */
.no_deco_link a {
	text-decoration: none;
}
.topnav {
	text-align: center;
}