/* Dark Mode */
.darkmode {
	background-color: #36393F;
	color: #DCDDDE;
}
.darkmode a {
	color: #00B0F4;
}
.darkmode .code {
	background-color: #2F3136;
}
.darkmode .largecode {
	border: 1px solid #202225;
	color: #B9BBBE
}

.darkmode .codejsoncomment {
	color: #4F545C;
}

/* Default/Light Mode */
body {
	background-color: #FFFFFF;
	color: #2E3338;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #0067E0;
}
.code {
	font-family: "SFMono-Regular",Menlo,Consolas,Monospace;
	font-weight: 400;
	background-color: #F2F3F5;
}
.largecode {
	padding: 5px;
	width: 90vw;
	border: 1px solid #202225;
	border-radius: 5px;
	color: #4F5660;
	white-space: pre-wrap;
}
.codejsonkey {
	color: #B58900;
}
.codejsonvalue {
	color: #2AA198;
}
.codejsoncomment {
	color: #C7CCD1;
}

/* Not Mode Dependent */
.no_deco_link a {
	text-decoration: none;
}
.topnav {
	text-align: center;
}